
h1{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
#title{
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    text-align: justify;
    font-size: 2rem;
}
.link{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1.5rem;
}
.text{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1.5rem;
}
div p{
    color: fuchsia;
    text-align: center;
    font-family: inherit;
}
div h2, h3{
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.colores{
    border-style: double;
    border-color: rgb(26, 133, 133);
    border-width: 10px;
    border-radius: 40px;
    font-size: 3rem;
}
#fondo{
    color: rgb(255, 255, 255);
    /*opacity:0.3;*/
    height: 500px;
    background-image: url("imagen.avif");
    background-size:contain
    
    
}
.margen{
    text-align: center;
    background-color: rgb(248, 255, 252);
    margin: 40px 40px 40px 40px;
    padding: 30px 30px 30px 30px;
    border: 8px rgb(29, 105, 105) solid;
    border-radius: 40px;
    opacity:0.8;
    font-size: 3rem;
}